/* front page header */
h1 {
    text-align: center;
    font-size: 500%;
    background-color: aqua;
}
/* front page pet options */
/* ---------------------------------------------------------------------------------- */
#options {
    text-align: center;
    
}

#cats{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/v6aOjy0Qo1fIA/giphy.gif);
    background-size: 100% 100%;
}
#dogs{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/1DqOFqULOqe5y/giphy.gif);
    background-size: 100% 100%;
}
#sheep{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/9HvfMzSvhM9K8/giphy.gif);
    background-size: 100% 100%;
}
#goats{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/Clc4fHqQqQ9KU/giphy.gif);
    background-size: 100% 100%;
}
/* --------------------------------------------------------------------------------- */

#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50px 1fr;
  }

.gallery__img {
    position: relative;
    float: left;
    width:  27pc;
    height: 27pc;
    background-repeat:   no-repeat;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 10px;
}