/* front page header */
#mainHeader {
    text-align: center;
    font-size: 500%;
    background-color: aqua;
    border: coral solid 4px;
}
/* front page pet options */
/* ---------------------------------------------------------------------------------- */
#options {
    text-align: center;
    
}

#cats{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/v6aOjy0Qo1fIA/giphy.gif);
    background-size: 100% 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#dogs{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/1DqOFqULOqe5y/giphy.gif);
    background-size: 100% 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#sheep{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/9HvfMzSvhM9K8/giphy.gif);
    background-size: 100% 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#goats{
    width: 27pc;
    height: 27pc;
    background-image: url(https://media.giphy.com/media/Clc4fHqQqQ9KU/giphy.gif);
    background-size: 100% 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* --------------------------------------------------------------------------------- */

/* Image display settings */
/* -------------------------------------------------------------- */
.grid {
    display: inline-block;
    width: 100%;
    grid-template-columns: 50px 1fr;
    text-align: center;
  }

.gallery__img {
    width:  27pc;
    height: 27pc;
    background-repeat:   no-repeat;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 10px;
}
/* ---------------------------------------------------------------------- */

#navBar {
    background-color: aqua;
    height: 10pc;
    margin-top: 2pc;
    margin-bottom: 2pc;
    border: coral solid 4px;
}

#navBar button {
    height: 4pc;
    margin-left: 5px;
    width: 36.8%;
    border-radius: 8px;
    border: solid 4px coral;
}

#navBar h1 {
    text-align: center;
    font-size: 400%;
    background-color: aqua;
    margin: 0%;
}

#navBar input{
    float: right;
    border-radius: 8px;
    border: solid 4px coral;
    height: 3.40pc;
    width: 24.5%;
    margin-right: 5px;
}

::placeholder {
    font-size: 200%;
  }